<h1>Doctors#show</h1>
<p>Find me in app/views/doctors/show.html.erb</p>

<h3>Dr. <%= @doctor.name %>'s Appointments</h3>
<br>
<h3>Dr. <%= @doctor.name %>'s Patient</h3>
<% @doctor.patients.each do |patient| %>
    <%= link_to patient.name, patient_path(patient.id) %>
<% end %>
<br>
<h3>Date & Time</h3>
<% @doctor.appointments.each do |appointment| %>
    <ul><%= appointment.appointment_datetime.strftime(" %B %d, %Y at %H:%M ") %></ul>

<% end %> 
