<h1>Appointment</h1>
<h2>Date/Time: <%= @appointment.appointment_datetime.strftime("%B %-d, %Y at %k:%M")%></h2>
<h3>Doctor: <%= link_to @appointment.appointment_doctor_name, doctor_path(@appointment.doctor)%></h3>
<h3>Patient: <%= link_to @appointment.appointment_patient_name, patient_path(@appointment.patient)%></h3>
