<h2><%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %> sees <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %> %></h2>
<br>
<p>Appointment Time: <%= @appointment.time %></p>